In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dados/raw_vendas.csv')

In [3]:
df.head()

,Unnamed: 0,produto,categoria,preco,frete,data_compra,vendedor,local_compra,avaliacao,tipo_pagamento,parcelas
0,0,Modelagem preditiva,livros,92.45,5.609697,01/01/2020,Thiago Silva,BA,1,cartao_credito,3
1,1,Iniciando em programação,livros,43.84,0.000000,01/01/2020,Mariana Ferreira,SP,5,cartao_credito,1
2,2,Pandeiro,instrumentos musicais,87.18,2.226512,01/01/2020,Thiago Silva,RJ,4,cartao_credito,4
3,3,Corda de pular,esporte e lazer,13.65,1.257926,01/01/2020,Camila Ribeiro,RJ,4,boleto,1
4,4,Dinossauro Rex,brinquedos,28.32,2.039059,01/01/2020,Juliana Costa,RJ,1,cartao_debito,1

In [5]:
pd.set_option('display.precision', 2)

In [11]:
df = df.rename(columns={'Unnamed: 0': 'id'})

In [12]:
is_null = df.isnull().values.any()

if is_null:
    print("O DataFrame contém valores nulos.")
else:
    print("O DataFrame não contém valores nulos.")

O DataFrame não contém valores nulos.

In [13]:
df.dtypes

id                  int64
produto            object
categoria          object
preco             float64
frete             float64
data_compra        object
vendedor           object
local_compra       object
avaliacao           int64
tipo_pagamento     object
parcelas            int64
dtype: object

In [16]:
# Convertendo a coluna 'data_compra' para o formato de data
df['data_compra'] = pd.to_datetime(df['data_compra'], dayfirst=True)

# Verificando os tipos de dados após a conversão
print(df.dtypes)

id                         int64
produto                   object
categoria                 object
preco                    float64
frete                    float64
data_compra       datetime64[ns]
vendedor                  object
local_compra              object
avaliacao                  int64
tipo_pagamento            object
parcelas                   int64
dtype: object

In [17]:
df.head()

,id,produto,categoria,preco,frete,data_compra,vendedor,local_compra,avaliacao,tipo_pagamento,parcelas
0,0,Modelagem preditiva,livros,92.45,5.61,2020-01-01,Thiago Silva,BA,1,cartao_credito,3
1,1,Iniciando em programação,livros,43.84,0.00,2020-01-01,Mariana Ferreira,SP,5,cartao_credito,1
2,2,Pandeiro,instrumentos musicais,87.18,2.23,2020-01-01,Thiago Silva,RJ,4,cartao_credito,4
3,3,Corda de pular,esporte e lazer,13.65,1.26,2020-01-01,Camila Ribeiro,RJ,4,boleto,1
4,4,Dinossauro Rex,brinquedos,28.32,2.04,2020-01-01,Juliana Costa,RJ,1,cartao_debito,1

In [18]:
df.to_csv('dados/final_vendas.csv', index=False)